@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e1e1e1;
  color: #e6e6e6;
  height: 100%;
  overflow-x: hidden;
  max-width: 100%;
  scrollbar-width: none;
}

