@import "tailwindcss";

*{
  
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e1e1e1;
  color: #e6e6e6;
  height: 100%;
  
  max-width: 100%;
  scrollbar-width: none;
}
#root{
  height: 100%;
  width: 100%;
  background-color: blue;
  
}
